<% title "Dives" %>

<p>
  <strong>Name:</strong>
  <%=h @dives.name %>
</p>

<p>
  <%= link_to "Edit", edit_dives_path(@dives) %> |
  <%= link_to "Destroy", @dives, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dives_path %>
</p>
