
   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/center.php">Our Dive Center &gt;</a></span>
</div>
			<a name="top"></a>



<h1>Our Boats		</h1>

			<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="ourboats.jpg"></a><div class="drawpicture" style="position: relative; width: 500px; height: 381px; margin: 10px 0px;"><a onClick="PopupWindow('images/diving/ourboats.jpg',500,381);"><%= image_tag 'diving/ourboats.jpg', :size => '500x381' %></a></div><p>Coconut Tree Divers is proud to be the only dive shop in West End with a fleet of two large, covered dive boats. Instead of wasting valuable dive time ferrying back and forth from the shop, our spacious capacity allows us to offer <a href="dives.php">two-tank dive trips</a> every morning to all the dive sites in the <a href="../sites/index.php">West End and Sandy Bay Marine Park</a>. <a href="../crew/index.php#carl">Captains Carl and Fred</a>, with over 40 years of combined boat captain experience, are always onboard, alert, and ready to help with anything you need. Our commitment to quality service means that we keep our dive groups small, so you will always have plenty of space to set up your equipment, move around, and relax without feeling crowded.</p>
<p>Your safety is our priority. Our boats always carry the following:<ul>
<li>Two tanks of emergency oxygen</li>
<li>First aid kit</li>
<li>Spare equipment bag</li>
<li>Emergency broadcast radio</li>
<li>Iced drinking water</li></ul></p>
<div style="clear: both;"><a name="wishuwerehere.jpg"></a><div class="drawpicture" style="position: relative; width: 240px; height: 180px; margin: 10px 0px; float: right;"><a onClick="PopupWindow('images/diving/wish_u_were_here.jpg',260,195);"><%= image_tag 'diving/thumb_240_0/wishuwerehere.jpg', :size => '240x180', :border => '0' %></a></div>
  <p class="subtitle">Wish U Were Here</p>
<p>Our specialty dive trip boat <i>Wish U Were Here</i> is the latest addition to the Coconut Tree fleet. This 35-foot Coast Guard cruiser in slices through the water with her 440-horsepower inboard diesel engine, easily reaching dive sites ahead of the competition. She is perfect for daily charter trips to the remote reefs of Barbareta, Cayos Cochinos, Utila, and the east end of Roatan. <a href="../contact/index.php">Contact us</a> to reserve your dive trip today!</p>
</div>
<div style="clear: both;"><a name="bottomtime.jpg"></a><div class="drawpicture" style="position: relative; width: 240px; height: 168px; margin: 10px 0px; float: right;"><a onClick="PopupWindow('images/diving/bottomtime.jpg',260,182);"><%= image_tag 'diving/thumb_240_0/bottomtime.jpg', :size => '240x168' %></a></div><p class="subtitle">Bottom Time</p>
<p>Our daily dive trip boat <i>Bottom Time</i> is the pride and joy of Coconut Tree Divers. Measuring 37 feet long with an 11-foot beam and powered by an 240-horsepower inboard diesel engine, she is known as the most comfortable dive boat in West End. Her large swim platform and seated tank-holders make her perfect for <a href="../courses/index.php">learning to dive</a> with our <a href="../crew/index.php">outstanding crew</a>.</p>
</div>


<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/center.php">Our Dive Center &gt;</a></span>
</div>
