   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/rec/index.php">PADI Dive Courses &gt;</a></span>
</div>                        
			<a name="top"></a>
            
			

<h1>Our Dive Center	</h1>

			<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="shopsign.jpg"></a><div class="drawpicture" style="position: relative; width: 500px; height: 350px; margin: 10px 0px;"><a onClick="PopupWindow('http://www.coconuttreedivers.com/diving/images/shopsign.jpg',500,350);"><img src="http://www.coconuttreedivers.com/diving/images/shopsign.jpg" width="500" height="350" alt="" border="0" /></a></div><p>Our commitment to your safety and fun shines through from the first moment you walk in our doors. As a <a href="http://www.padi.com">PADI 5 Star Instructor Development Center</a>, we carry top-of-the-line equipment routinely inspected to ensure quality performance. All equipment rentals are included in the cost of our <a href="../rec/index.php">PADI courses</a>. We also have equipment available for purchase at our retail store.</p>
<p>Our on-site, nitrox/trimix capable Bauer K15 compressor meets air quality inspections every three months. Our tank cylinders annually pass visual inspections and always remain within their hydrostatic testing dates. In short, you can rest assured that the air you are breathing is dry, clean, and safe. We also keep emergency oxygen, first aid, and an emergency broadcast radio in the shop at all times.</p>
<p>If you are registered for a <a href="../courses/index.php">PADI scuba diving course</a>, you will inevitably spend some time on the second floor in our spacious, air-conditioned classroom. The three comfortable couches surrounding our DVD/VCR-equipped television means you can study at ease. Spread your work and relax your legs at our study tables while your instructor teaches from our large whiteboards. We have enough room to accomodate several classes at a time, so you will never have to wait for instructional materials to become available in order to learn.</p>
<p>Our two-storey dive center is located on the main intersection of <a href="../info/westend.php">West End</a> and is a short walk from most of the <a href="../info/roatan.php">Roatan's</a> <a href="../info/hotels.php">hotels</a>, <a href="../info/restaurants.php">restaurants</a>, and <a href="../info/stuff.php">activities</a> in town.</p>
<p>So c'mon in, grab yourself a complimentary cup of Honduran coffee, English tea, or chilled water, and in no time we will have you registered in our custom-designed computer system. At the end of your stay, we will print you a dive log copy of all your underwater adventures. You definitely won't want to miss watching the sunset from our large outdoor deck, especially since we have the cheapest ice cold beers in town to toast the end of another fantastic day of diving. Be sure to join us for our weekly big barbeques where burgers, beer, and good buddies meet for a great time.</p>
		


<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/rec/index.php">PADI Dive Courses &gt;</a></span>
</div>            
