

   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/calc/index.php">Course Calculator &gt;</a></span>
</div>
			<a name="top"></a>



<script language="JavaScript"; type="text/JavaScript">
function PADIeLearning() {
accessWin = window.open('https://www.padi.com/padi/elearning/default.aspx?irra=18092','','scrollbars=yes,top='+(screen.height/8)+',left='+(screen.width/8)+',width=1000,height=700,resizable=yes');
window.accessWin.focus();
}
</script>

<h1>PADI eLearning</h1>

            <script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="elearning_icon.jpg"></a><div class="drawpicture" style="position: relative; width: 240px; height: 156px; margin: 10px 0px; float: right;"><a href="JavaScript: PADIeLearning();"><%= image_tag 'elearning_icon.jpg', :border => '0', :size => '240x156' %></a></div>
            <p class="subtitle"><a href="JavaScript: PADIeLearning();">Sign up for PADI eLearning!</a></p>

			<p>Are you ready to change your life? Embark on a journey to explore a whole new world untouched by the frantic pace of everyday life. Scuba diving provides a thrill and adventure unmatched by anything else. Come dive in and start your adventure today with the PADI Open Water Diver course online.</p>

<p>The PADI Open Water Diver course is, by far, the world's most popular scuba certification course. Millions of people have started diving as certified PADI Open Water Divers. Learning to scuba dive requires both knowledge development (facts, principles, concepts) and motor procedures (skills, techniques, methods). The PADI Open Water Diver Course online provides the knowledge development portion you need. You develop the remaining skills by actually diving with a PADI Instructor at your local PADI Dive Center or Resort. </p>

<p class="subtitle">How does it work?</p>


<p>After enrolling, PADI's eLearning system presents you with interactive presentations that include videos, audio, graphics and reading. Short quizzes let you gauge your progress, and review and correct anything you might happen to miss. This lets you move through the program efficiently and at your own pace.</p>

<p class="subinfo"><a href="http://elearning.padi.com/paditutorial.htm"><b>View a live demo!</b></a>

<p class="subtitle">What does it cost?</p>


<p>The PADI Open Water Diver Course online is $120 (US) nonrefundable. The fee covers your knowledge development training and gives you unlimited access to an electronic version of the PADI Open Water Diver Manual (course textbook). Your PADI Dive Center or Resort will charge an additional fee for the inwater portion of your certification. You will also need to purchase a mask, snorkel, pair of fins, and other personal dive equipment. Your PADI Dive Center or Resort will guide you through this process and may suggest additional equipment along with the required purchase of a Recreational Dive Planner (Table or eRDP version) and a log book.</p>



<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>

<span id="next"><a href="http://www.coconuttreedivers.com/calc/index.php">Course Calculator &gt;</a></span>
</div>
