   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/boats.php">Our Boats &gt;</a></span>
</div>
			<a name="top"></a>



<h1>What We Offer		</h1>

<a name="marco_seahorse.jpg"></a><div class="drawpicture" style="position: relative; width: 496px; height: 400px; margin: 10px 0px;"><a onClick="PopupWindow('images/diving/marco_seahorse.jpg',496,400);"><%= image_tag 'diving/marco_seahorse.jpg', :size => '496x400', :border => '0' %></a></div><p class="indented"><a href="schedule.php">Daily Dive Trips</a><br /> Ready to get wet? Gear up in our brand-new <a href="shop.php">equipment</a>, board our large, covered <a href="boats.php">boats</a>, and join us on all the sites in the <a href="../sites/index.php">Roatan Marine Park</a>. Our <a href="schedule.php">daily dive schedule</a> features a morning two-tank trip for advanced divers and two afternoon single-tank trips for divers of all experience levels. We also offer two <a href="schedule.php">snorkeling trips</a> on the dive sites in the afternoon. Choose from our conveniently-priced <a href="packages.php">dive packages</a> and come blow some bubbles!</p>
<p class="indented"><a href="../rec/index.php">PADI Dive Courses</a><br /> Never been diving before? Already certified but looking to take your diving to the next level? We are a <a href="http://www.padi.com">PADI-authorized</a> dive shop offering all <a href="../rec/index.php">recreational dive courses</a> from <a href="../rec/showcourse.php?abbr=dsd">Discover Scuba Diving</a> to <a href="../rec/showcourse.php?abbr=resc">Rescue Diver</a>, including <a href="../spec/showcourse.php?abbr=eanx">Enriched Air Nitrox</a> and a diverse range of <a href="../spec/index.php">other specialities</a>. Our friendly, multi-lingual <a href="../crew/index.php">crew</a> consists entirely of PADI Instructors with a detailed knowledge of the local dive spots. Our spacious, air-conditioned <a href="../diving/shop.php">classroom</a> lets you study in comfort. Find the <a href="../courses/index.php">right course</a> for you!</p>
<p class="indented"><a href="../pro/index.php">Technical and Professional Development</a><br /> Start your path towards becoming a PADI professional with our outstanding <a href="../pro/showcourse.php?abbr=dm">PADI Divemaster Internship</a>. Learn to teach scuba diving as a PADI Open Water Scuba Instructor through our on-site PADI Instructor Development Course (IDC) with our on-staff <a href="../crew/index.php#will">PADI Course Director</a>. Advance your career as a PADI professional through our PADI Master Scuba Diver Trainer and PADI IDC Staff Instructor programs. We will be launching our <a href="../tec/index.php">Tec Diving</a> program later this year; <a href="../contact/index.php?subject=tec">contact us</a> for more information.</p>



<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/boats.php">Our Boats &gt;</a></span>
</div>
