   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/schedule.php">Daily Dive Schedule &gt;</a></span>
</div>                        
			<a name="top"></a>
            
			

<h1>Diving Packages</h1>

<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="wish_u_were_here.jpg"></a><div class="drawpicture" style="position: relative; width: 500px; height: 349px; margin: 10px 0px;"><a onClick="PopupWindow('http://www.coconuttreedivers.com/diving/images/wish_u_were_here.jpg',500,349);"><img src="http://www.coconuttreedivers.com/diving/images/wish_u_were_here.jpg" width="500" height="349" alt="" border="0" /></a></div>


<!-- Adding table formatter -->
<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="row0"></a><th class="oddth" colspan="1" align="center" valign="middle">Fun Dive Package</th>
<th class="eventh" colspan="1" align="center" valign="middle">Cost per Dive</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="1" align="center" valign="middle">Single dive with rental equipment</td>
<td class="oddrow_evencol" colspan="1" align="center" valign="middle">$35/tank</td>
</tr>
<tr id="row2" name="row2">
<a name="row2"></a><td class="evenrow_oddcol" colspan="1" align="center" valign="middle">Single dive with personal equipment</td>
<td class="evenrow_evencol" colspan="1" align="center" valign="middle">$30/tank</td>
</tr>
<tr id="row3" name="row3">
<a name="row3"></a><td class="oddrow_oddcol" colspan="1" align="center" valign="middle">10+ dives including rental equipment</td>
<td class="oddrow_evencol" colspan="1" align="center" valign="middle">$30/tank</td>
</tr>
<tr id="row4" name="row4">
<a name="row4"></a><td class="evenrow_oddcol" colspan="1" align="center" valign="middle">Night dives</td>
<td class="evenrow_evencol" colspan="1" align="center" valign="middle">$45/tank</td>
</tr>
<tr id="row5" name="row5">
<a name="row5"></a><td class="oddrow_oddcol" colspan="1" align="center" valign="middle">Former students</td>
<td class="oddrow_evencol" colspan="1" align="center" valign="middle">$30/tank</td>
</tr>
</table>
</div>
<!-- End table formatter -->
<p>Dives are billed on a per-tank basis. The price of each dive includes tank fills, boat transportation, and a guided tour by one of our experienced <a href="../crew/index.php#Instructors">PADI Instructors</a>. Divemaster and boat captain tips are not included but always greatly appreciated.</p>
<p>Once registered in our custom-designed computer system, you are free to sign up for as many fun dives as you wish. We will keep track of your dive profiles throughout your stay and print you a personal dive log of your adventures upon payment. Payment is not due until the end of your stay with Coconut Tree Divers; however, we ask that you contribute $10 to the <a href="www.roatanmarinepark.com">Roatan Marine Park</a> through the purchase of a marine park tag (valid for one year) when you arrive.</p>

<!-- Begin table formatter -->

<!-- Adding table formatter stylesheets -->

<!-- Adding table formatter -->
<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="row0"></a><th class="oddth" colspan="3" align="center" valign="middle">Diving and Accomodation Packages</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><th class="oddth" colspan="1" align="center" valign="middle">Location</th>
<th class="eventh" colspan="1" align="center" valign="middle">Single Room</th>
<th class="oddth" colspan="1" align="center" valign="middle">Double Room</th>
</tr>
<tr id="row2" name="row2">
<a name="row2"></a><td class="oddrow_oddcol" colspan="1" align="center" valign="middle">West End Cabins</td>
<td class="oddrow_evencol" colspan="1" align="center" valign="middle">$690</td>
<td class="oddrow_oddcol" colspan="1" align="center" valign="middle">$550/diver</td>
</tr>
<tr id="row3" name="row3">
<a name="row3"></a><td class="evenrow_oddcol" colspan="1" align="center" valign="middle">West Bay Cabins</td>
<td class="evenrow_evencol" colspan="1" align="center" valign="middle">$970</td>
<td class="evenrow_oddcol" colspan="1" align="center" valign="middle">$655/diver</td>
</tr>
<tr id="row4" name="row4">
<a name="row4"></a><td class="oddrow_oddcol" colspan="1" align="center" valign="middle">Rock House Luxury Suites</td>
<td class="oddrow_evencol" colspan="1" align="center" valign="middle">$1140</td>
<td class="oddrow_oddcol" colspan="1" align="center" valign="middle">$740/diver</td>
</tr>
</table>
</div>
<!-- End table formatter -->
<p>We offer special dive packages for customers staying with <a href="http://www.westbaycoconuttree.com/">Coconut Tree Cabins</a> at both the West End and West Bay locations. If you are staying in the West Bay cabins, we will send complimentary boat transportation to bring you to the shop. The dive packages listed below include two fun dives per day over five days, a night dive, and seven nights accomodation.</p>
<p class="reservenow"><a href="../contact/index.php?subject=packages">Make your reservations now!</a></p>


<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/schedule.php">Daily Dive Schedule &gt;</a></span>
</div>            
