
   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/why.php">Why Dive With Us? &gt;</a></span>
</div>                        
			<a name="top"></a>
            
			

<h1>Daily Dive Schedule</h1>

			<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="diverbg.jpg"></a><div class="drawpicture" style="position: relative; width: 520px; height: 390px; margin: 10px 0px;"><a onClick="PopupWindow('http://www.coconuttreedivers.com/diving/images/diverbg.jpg',800,600);"><img src="http://www.coconuttreedivers.com/diving/images/thumb_520_0/diverbg.jpg" width="520" height="390" alt="" border="0" /></a></div>            <p class="indented"><b>9:00 AM - Two-Tank Advanced Dive Trip</b><br />Our two-tank morning dive trip is designed for <a href="../courses/showcourse.php?abbr=aow">Advanced Open Water</a> or sufficiently experienced divers. Every morning we head out to a different pair of sites in the <a href="../sites/index.php">Sandy Bay - West End Marine Park</a>. The first dive site typically has a maximum depth in the range of 24-40 meters/80-130 feet along sheer walls, down to deep shipwrecks, and with exciting currents. We then take an hour surface interval while we drive to the next site, during which you can soak up rays and grab some ice water aboard one of our <a href="boats.php">our large covered boats</a>. The second dive takes place in the shallows where you'll explore the many swimthrus, caves, and coral beds that lie above 18 meters/60 feet.s</p>
<p class="indented"><b>1:00 PM & 2:30 PM - Single-Tank Fun Dives and Snorkeling</b><br />Both of our afternoon dives are designed for certified divers of all experience levels. With a maximum depth of 18 meters/60 feet, there's something for novices and veterans alike as we glide over the shallow walls and reefs near West End. If you'd rather spend some time on the surface, you can snorkel during these dives for only $5 per person.</p>
<p class="indented"><b>Night Dives</b><br />Our weekly night dives are available for dive groups of four or more at an additional $10 per night dive. The boat leaves the dock at sunset, bound for a nearby shallow site where you can easily find octopi, lobsters, and crabs scurrying about. Dive torch rentals are included in the cost.</p>
<p class="indented"><b>Diving in Inclement Weather</b><br />Water conditions in the West End are usually very favorable to diving; flat seas and crystal visibility are the norm. Unfortunately, the odd storm can occasionally make this area unsuitable for safe diving. In the event of inclement weather, we bring <a href="boats.php"><i>Wish U Were Here</i></a> around the point to dive the southeast end of the island. We also offer shore diving at <a href="../sites/showsite.php?name=Flowers%20Bay%20Wall">Flowers Bay</a>, a beautiful wall dive excellent for both fun diving and course training. Regardless of weather, if you want to dive we'll find a way to get you wet!</p>


<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/why.php">Why Dive With Us? &gt;</a></span>
</div>            
