
   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/index.php">Dive Packages &gt;</a></span>
</div>                        
			<a name="top"></a>
            
			
<h1>Welcome to Coconut Tree Divers!</h1>
<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="kelsey_ad.jpg"></a><div class="drawpicture" style="position: relative; width: 520px; height: 730px; margin: 10px 0px;"><a onClick="PopupWindow('http://www.coconuttreedivers.com/home/images/kelsey_ad.jpg',1040,1459);"><img src="http://www.coconuttreedivers.com/home/images/thumb_520_0/kelsey_ad.jpg" width="520" height="730" alt="" border="0" /></a></div><img src="http://www.coconuttreedivers.com/home/images/roatan_no_1.gif" align="right" width="180" height="107" alt="Roatan's #1 PADI Training Center" hspace="10" vspace="10" border="0" />
<h4 style="text-align: center;">Welcome to Coconut Tree Divers, a<br /><a href="http://www.padi.com">PADI 5 Star Instructor Development Center</a> <br />on the beautiful Bay Island of <a href="http://www.coconuttreedivers.com/roatan/index.php">Roatan, Honduras</a>!</h4>


<!-- Adding table formatter -->
<div class="tableformatter" style="position: relative; float: right; clear: right;">
<table width="180" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="row0"></a><th class="oddth" colspan="1" align="center" valign="middle"><a href="http://www.coconuttreedivers.com/news/index.php">News Updates</a></th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="1" align="left" valign="middle"><b>March 9 2010</b><br/><a href="http://www.coconuttreedivers.com/news/index.php#88">Supporting the Tourism Police</a></td>
</tr>
<tr id="row2" name="row2">
<a name="row2"></a><td class="evenrow_oddcol" colspan="1" align="left" valign="middle"><b>March 5 2010</b><br/><a href="http://www.coconuttreedivers.com/news/index.php#87">DAN Avoiding Ear and Sinus Injuries</a></td>
</tr>
<tr id="row3" name="row3">
<a name="row3"></a><td class="oddrow_oddcol" colspan="1" align="left" valign="middle"><b>February 18 2010</b><br/><a href="http://www.coconuttreedivers.com/news/index.php#85">Roatan Police Cruiser</a></td>
</tr>
<tr id="row4" name="row4">
<a name="row4"></a><td class="evenrow_oddcol" colspan="1" align="left" valign="middle"><b>November 4 2009</b><br/><a href="http://www.coconuttreedivers.com/news/index.php#84">Jason Howard</a></td>
</tr>
<tr id="row5" name="row5">
<a name="row5"></a><td class="oddrow_oddcol" colspan="1" align="left" valign="middle"><b>October 28 2009</b><br/><a href="http://www.coconuttreedivers.com/news/index.php#80">Take One...</a></td>
</tr>
<tr id="row6" name="row6">
<a name="row6"></a><td class="evenrow_oddcol" colspan="1" align="left" valign="middle"><b>October 28 2009</b><br/><a href="http://www.coconuttreedivers.com/news/index.php#83">T-shirts</a></td>
</tr>
</table>
</div>
<!-- End table formatter -->

<!-- Begin table formatter -->

<!-- Adding table formatter stylesheets -->

<!-- Adding table formatter -->
<div class="tableformatter" style="position: relative; float: right; clear: right;">
<table width="180" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="row0"></a><th class="oddth" colspan="1" align="center" valign="middle"><a href="http://www.coconuttreedivers.com/testimonials/index.php">Testimonials</a></th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="1" align="left" valign="middle"><b>February 21 2010</b><br/><a href="http://www.coconuttreedivers.com/testimonials/index.php#52">from joy anderson</a></td>
</tr>
<tr id="row2" name="row2">
<a name="row2"></a><td class="evenrow_oddcol" colspan="1" align="left" valign="middle"><b>February 18 2010</b><br/><a href="http://www.coconuttreedivers.com/testimonials/index.php#51">from Terry Blake</a></td>
</tr>
<tr id="row3" name="row3">
<a name="row3"></a><td class="oddrow_oddcol" colspan="1" align="left" valign="middle"><b>January 21 2010</b><br/><a href="http://www.coconuttreedivers.com/testimonials/index.php#46">from Carolyn and Jenny</a></td>
</tr>
</table>
</div>
<!-- End table formatter -->
<p>We are based on Half Moon Bay, a white-sand, palm-fringed paradise right in the heart of <a href="http://www.coconuttreedivers.com/roatan/westend.php">West End</a>, with some of the world's best <a href="http://www.coconuttreedivers.com/sites/index.php">scuba diving sites</a> right on our doorstep. Our convenient location is within walking distance from most <a href="http://www.coconuttreedivers.com/roatan/hotels.php">accommodations</a> and <a href="http://www.coconuttreedivers.com/roatan/restaurants.php">restaurants</a> in the area.</p>
<p>Whether you are a <a href="http://www.coconuttreedivers.com/courses/index.php">beginner diver</a> looking to discover what diving has to offer you, a <a href="http://www.coconuttreedivers.com/diving/index.php">certified diver</a> exploring <a href="http://www.coconuttreedivers.com/sites/index.php">Roatan's underwater delights</a>, an experienced diver eager to take on the challenge of <a href="http://www.coconuttreedivers.com/tec/index.php">Tec Diving</a>, or an aspiring diver seeking to <a href="http://www.coconuttreedivers.com/pro/index.php">go pro with a Divemaster internship</a>, we have something for everyone.</p>
<p>Please be aware that we are a very popular dive shop in West End and tend to sell out our dives several days in advance. While drop-in customers are certainly welcome, <b><a href="http://www.coconuttreedivers.com/contact/index.php">reservations are strongly encouraged</a></b>.</p>
<p style="text-align: center;"><a href="http://www.coconuttreedivers.com/contact/index.php" title="Book your dive trip now!"><img src="http://www.coconuttreedivers.com/home/images/reserve_now.jpg" width="300" height="187" alt="Book your dive trip now!" border="0" /></a></p><div class="navbox">
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/diving/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/diving.jpg" width="156" height="150" border="0" alt="Dive With Us" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/diving/index.php">Dive With Us</a></div>
<div id="blurb">
Our years experience catering to the expectations and comforts of divers will give you the best diving experience possible. Hop aboard one of our <a href="http://www.coconuttreedivers.com/diving/boats.php">large, covered boats</a> for a two-tank dive trip every morning for <a href="http://www.coconuttreedivers.com/courses/showcourse.php?abbr=aow">Advanced Open Water</a> divers and two single-tank outings for divers of all levels each afternoon. <span id="more"><a href="http://www.coconuttreedivers.com/diving/index.php">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/rec/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/courses.jpg" width="156" height="150" border="0" alt="Dive Courses" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/rec/index.php">Dive Courses</a></div>
<div id="blurb">
Never been diving before? Looking to expand your diving skills and knowledge? Whatever your skill level, we have the course for you. <a href="http://www.coconuttreedivers.com/crew/index.php">Our crew</a> has years of professional diving experience in a diverse array of environments, and our commitment to your safety and enjoyment guarantees that you will have to best experience possible. <span id="more"><a href="http://www.coconuttreedivers.com/rec/index.php">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/pro/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/pro.jpg" width="156" height="150" border="0" alt="Go Pro" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/pro/index.php">Go Pro</a></div>
<div id="blurb">
Ready to take your diving to the next level? Our professional development program lets you join the ranks of the PADI pros through our <a href="http://www.coconuttreedivers.com/courses/showcourse.php?abbr=dm">Divemaster internship</a>. From there, you can set your sights on the coveted rating of Open Water Scuba Instructor through the <a href="http://www.coconuttreedivers.com/courses/index.php?type=PRO">PADI Instructor Development Course</a>. <span id="more"><a href="http://www.coconuttreedivers.com/pro/index.php">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/tec/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/tec.jpg" width="156" height="150" border="0" alt="Tec Diving" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/tec/index.php">Tec Diving</a></div>
<div id="blurb">
Take on the Tec challenge! For experienced divers looking to explore the deep recesses of Roatan's endless walls, we offer the <a href="http://www.coconuttreedivers.com/courses/showcourse.php?type=TEC">PADI Tec Deep and Tec Trimix courses</a>. Learn the intricacies of techinical gear, decompression stops, and extended-range mix-gas diving under the supervision of our <a href="http://www.coconuttreedivers.com/crew/index.php">Tec instructors</a>. <span id="more"><a href="http://www.coconuttreedivers.com/tec/index.php">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/crew/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/crew.jpg" width="156" height="150" border="0" alt="Our Crew" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/crew/index.php">Our Crew</a></div>
<div id="blurb">
Meet the people who will make your dive experiences wonderful. Our crew of highly-experienced instructors will give you the best in dive training, our captains will ensure your safety on the boat, and our always-colorful management crew keeps the shop lively. <span id="more"><a href="http://www.coconuttreedivers.com/crew/index.php">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/sites/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/sites.jpg" width="156" height="150" border="0" alt="Dive Sites" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/sites/index.php">Dive Sites</a></div>
<div id="blurb">
There are over forty dive sites in the <a href="http://www.roatanmarinepark.com">Sandy Bay - West End Marine Reserve</a>, and we dive them all. Use our exclusive interactive <a href="http://www.coconuttreedivers.com/sites/index.php">Google map</a> of Roatan's West End to learn more about what dive sites you want to explore on your next adventure. <span id="more"><a href="http://www.coconuttreedivers.com/sites/index.php">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="http://www.coconuttreedivers.com/photos/index.php"><img src="http://www.coconuttreedivers.com/Templates/images/navbar/photos.jpg" width="156" height="150" border="0" alt="Photo Gallery" /></a></div>
<div id="navtitle"><a href="http://www.coconuttreedivers.com/photos/index.php">Photo Gallery</a></div>
<div id="blurb">
Peruse our collection of customer-contributed photo galleries. Marvel at the stunning aquatic life of our reefs and laugh at the ridiculous nightlife of our bar scene. If you have a picture you'd like to add to our galleries, please <a href="http://www.coconuttreedivers.com/contact/index.php">let us know</a>. <span id="more"><a href="http://www.coconuttreedivers.com/photos/index.php">More information...</a>
</div>
</div>
</div>

<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/index.php">Dive Packages &gt;</a></span>
</div>            
