   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/offer.php">What We Offer &gt;</a></span>
</div>
			<a name="top"></a>



<h1>Why Dive With Coconut Tree?</h1>

			<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="divewithus.jpg"></a><div class="drawpicture" style="position: relative; width: 500px; height: 350px; margin: 10px 0px;"><a onClick="PopupWindow('images/diving/divewithus.jpg',500,350);"><%= image_tag 'diving/divewithus.jpg', :size => '500x350', :border => '0' %></a></div><p class="indented">Experience<br />With over forty years in the diving industry, the <a href="../crew/index.php#Management">managers</a> at Coconut Tree aim to provide you with the best diving experience possible. Our highly-qualified <a href="../crew/index.php#Instructors">crew</a> is exclusively composed of experienced, multilingual PADI Instructors with a diverse array of <a href="../spec/index.php">specialities</a>. <a href="../diving/boats.php">Our boats</a> are helmed by Roatan's most <a href="../crew/index.php#Captains">experienced boat captains</a>, guaranteeing you the perfect <a href="../sites/index.php">dive site</a> every time.</p>

<p class="indented">Safety<br />Your care and safety is our utmost concern. Our <a href="../diving/boats.php#Management">large, covered boats</a> are always stocked with a first aid kit, emergency broadcast radio, spare equipment bag, emergency oxygen tanks, and ice water. Our <a href="../crew/center.php">dive center</a> ensures your safety through routine tank inspections and compressor air quality tests. We carefully maintain and update our equipment so that you are diving with the best gear available. <a href="../crew/index.php#Instructors">Our PADI Instructors</a> regularly refresh their <a href="../rec/showcourse.php?abbr=efr">Emergency First Response</a> and <a href="../rec/showcourse.php?abbr=resc">Rescue Diver</a> skills.</p>

<p class="indented">Fun<br />With Coconut Tree Divers you will be treated like family. Wake yourself up with a free cup of coffee or English tea. Relax on our large, open-air deck overlooking beautiful Half Moon Bay. Challenge your <a href="../crew/index.php#Instructors">PADI Instructor</a> to a game of backgammon. Soak up some rays or escape the heat on <a href="../diving/boats.php">our covered boats</a>. Toast the sunset with an ice-cold beer. Party with us at our weekly barbeques. Pick up some photographs of your underwater memories. There's never a dull moment when you are diving with Coconut Tree!</p>

<p><b><a href="../contact/index.php">Join us</a></b> and see why we're Roatan's #1 PADI Scuba Diving Center!</p>


<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/diving/offer.php">What We Offer &gt;</a></span>
</div>
