<div id="lower">
    <div id="wavecrest"></div>
    <div id="left"></div>
    <div id="center">
        <div id="scubageek">Website by <a href="http://www.thescubageek.com">TheScubaGeek.com</a></div>
        <div id="copyright">2002-2010 &copy; Coconut Tree Divers</div>
    </div>

    <div id="right"></div>
</div>

