<div id="header">
    <div id="logo_top"></div>
    <div id="logo_left"></div>

    <div id="logo_uppercorner"></div>
    <div id="logo_upper"></div>

    <div id="logo_main"></div>

    <div id="logo_bottom"></div>
    <div id="info_top"></div>
    <div id="info_main"></div>
    <div id="info_corner"></div>
    <div id="end_wave"></div>
    <div id="info_roatan"></div>

    <div id="info_email"><a href="http://www.coconuttreedivers.com/contact/index.php"></a></div>
    <div id="info_phone"></div>
</div>
