<div id="upper">
    <div id="left"></div>
    <div id="center">
        <div style="float: left;">
        <img src="http://www.coconuttreedivers.com/Templates/images/icons/en.gif" alt="English" width="21" height="13" border="0" />English&nbsp;

        </div>
        <div style="float: right; height: 25px;"><a href="" onClick="javascript:window.print();"><img src="http://www.coconuttreedivers.com/Templates/images/icons/print.gif" width="16" height="15" alt="Print" border="0" />Print this page</a></div>
        <a href="http://www.coconuttreedivers.com/rss.xml" title="Subscribe to our RSS Feed"><img src="http://www.coconuttreedivers.com/Templates/icons/rss-feed.gif" width="16" height="16" border="0" alt="Subscribe to our RSS Feed" /></a>

       <!-- AddThis Button BEGIN -->
		<script type="text/javascript">var addthis_pub = "thescubageek";</script>
		<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', 'http://www.coconuttreedivers.com//elearning/index.php', 'Coconut Tree Divers - Roatan\'s #1 PADI Scuba Diving Training Center')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-bookmark-en.gif" width="125" height="16" border="0" alt="" /></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
		<!-- AddThis Button END -->
    </div>

    <div id="right"></div>
</div>