   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/pro/showcourse.php?id=7">Divemaster Internship &gt;</a></span>
</div>
			<a name="top"></a>


<h1>Go Pro At Coconut Tree</h1>

<script language="javascript"><!--
function PopupWindow(url, width, height){
newwindow = window.open(url,"fullpic","height="+height+",width="+width+",toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes");
if (window.focus) {
newwindow.focus();
}
 return false;
}
 //--></script><a name="monty_rings.jpg"></a><div class="drawpicture" style="position: relative; width: 520px; height: 390px; margin: 10px 0px;"><a onClick="PopupWindow('courses/monty_rings.jpg',800,600);"><%= image_tag 'courses/monty_rings.jpg', :size => '520x390', :border => '0' %></a></div>
<!--<a href=\"http://www.goprocaribbean.com\"><img src="images/goprocaribbean.gif" width="200" height="135" alt="Visit GoProCaribbean.com - The official website of Coconut Tree Diver's professional development programs" border="0" align="right" /></a>//-->











<div class="tableformatter" style="position: relative; float: right; clear: both;">
<table width="200" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="row0"></a><th class="oddth" colspan="1" align="center" valign="middle">PADI Course Director</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="1" align="center" valign="middle"><a name="will_welbourn.jpg"></a><div class="drawpicture" style="position: relative; width: 120px; height: 120px; margin: 5px 0px;"><a onClick="PopupWindow('courses/will_welbourn.jpg',992,992);"><%= image_tag 'courses/will_welbourn.jpg', :size => '120x120', :border => '0' %></a></div><h3>Will Welbourn</h3>Visit his personal site at:<br /><a href="http://www.goprocaribbean.com">www.goprocaribbean.com</a></td>
</tr>
</table>
</div>


<p>Ready to take your diving to the next level? Our professional development program lets you join the ranks of the PADI pros through our <a href="../rec/showcourse.php?abbr=dm">Divemaster internship</a>. From there, you can set your sights on the coveted rating of Open Water Scuba Instructor through the <a href="../pro/index.php">PADI Instructor Development Course</a>.</p>
<p>Coconut Tree Divers is proud to offer the PADI Instructor Development Course (IDC) under the direction of <a href="../crew/index.php#will">PADI Course Director Will Welbourn</a>. This two week course takes certified Divemasters to the next stage of their professional development: the PADI Open Water Scuba Instructor. As an instructor, you are professionally qualified to certify PADI <a href="../rec/showcourse.php?abbr=ow">Open Water Divers</a>, <a href="../rec/showcourse.php?abbr=aow">Advanced Open Water Divers</a>, <a href="../rec/showcourse.php?abbr=resc">Rescue Divers</a>, and <a href="../rec/showcourse.php?abbr=dm">Divemasters</a>.</p>
<br />




<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/pro/showcourse.php?id=7">Divemaster Internship &gt;</a></span>
</div>
